1_base_project/template-app/build/*
1_base_project/wireless_link_project/build/*
1_base_project/system_log/build/*
2_peripheral/1_led/build/*
2_peripheral/2_uart_console/build/*
2_peripheral/3_uart_select/build/*
3_lvgl/1_lvgl8_2_porting/build/*
3_lvgl/2_lvgl8_0_porting/build/*
3_lvgl/3_lvgl7_10_porting/build/*